:root{
    --modal-width: 300px;
    --modal-height: 400px;
    --modal-color: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: [];
}

body{
    background: grey;
}

.modal2{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--modal-width);
    height: var(--modal-height);
    color: white;
    background-color: var(--modal-color);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
    background: rgba(129, 0, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(190, 142, 241, 0.9);
}